* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight:normal;
    font-family: 'Wii NTLG PGothic JPN Regular';
    cursor:url("/3dseshop/images/eShop-cursor.png"), auto;
}
  @font-face {
    font-family: 'Wii NTLG PGothic JPN Regular';
      /* wii shop font from: https://github.com/amarillonmc/MSE201_w_ygos10/blob/master/font/ZENTemplate/FOT-Rodin%20Pro%20M.ttf */
      /* the closest font to wii shops font in google fonts is Noto Sans JP */
    src: url(/font/FOT-Rodin\ Pro\ M.ttf);
  }
body {
    overflow-x: hidden;
    background-color:#323232;
    color:#65623f;
    height:100vh;
}
#mainarea {
    margin: auto;
    display: block;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    position:relative;
    top:0;
    opacity:100%;
    transition:.3s ease-in-out;
    animation: goup 0.2s linear forwards;
    padding-bottom:10px;
    background-color:#323232;
}

    /* stolen from chrisplayzyt.github.io cuz im lazy*/
    @keyframes goup {
        0% { 
            opacity:0%; 
        }
        100% { 
            opacity:100%;
        }

     }

#topscreen {
    width: 790px;
    height: 440px;
    max-width: 790px;
    max-height: 440px;
    overflow: hidden;
    background-image: url("/3dseshop/images/topscreenBACKGROUND.svg");
    background-size: 100%;
    position: relative;
    left: 0;
    top: 0;
}
#bottomscreen {
    width: 580px;
    height: 435px;
    max-width: 580px;
    max-height: 435px;
    overflow: hidden;
    background-image: url("/3dseshop/images/bottomscreenBACKGROUND.svg");
    background-size: 100%;
    position: relative;
    left: 100px;
    top: 0;
    margin-top: 0px;
}


#preparingtext {
 text-align:center;
 font-size:28px;
 color:#65623f;
 margin-top:210px;
 margin-left:20px;
 transition:.3s ease-in-out;
}
